{% extends 'base.html' %}

{% block content %}

<div align=center>

<B> Dr. Rai, Anil </B> <BR>
Principal Scientist <br>
Head & Professor (Bioinformatics)<br>
Room No: 106(First Floor), Computer Building.<br>
Centre for Agricultural Bioinformatics (CABIN)<br>
ICAR-Indian Agricultural Statistics Research Institute (IASRI)<br>
(ISO 9001:2008 Certified Institution) <br>
Library Avenue, PUSA, New Delhi -110012 , INDIA<br>
TEL: +91 11 25847121-24 (Ext. 4347) (Office)<br>
FAX: +91 11 25841564<br>
Email: anil.rai@icar.gov.in, anilrai64@gmail.com <br>
URL:  http://cabgrid.res.in/cabin/arai.aspx<br>
          http://www.iasri.res.in/ <br>

</div>

{% endblock %}