{% extends 'base.html' %}

{% block content %}
<div  class="container-fluid" id="home_screen" style="padding-left: 20px; padding-top: 10px; font-size:18px; text-align:justify">
  <p class="breadcrumb" style="padding:0 0px;"> You are here:&nbsp;<b>Team</b></p>
</div>
<div class="tTable" align="center">
 <h4>{% block title %} Team-Members {% endblock %}</h4>
<!--<table>-->
<!-- <a href=http://cabgrid.res.in/cabin/phdstudent2018_19.aspx target="_new">Aamir Khan</a><br>-->
<!-- <a href=http://ccbb.jnu.ac.in/phd.html target="_new">Ajay Verma</a><br>-->
<!-- <a href="https://www.researchgate.net/profile/Kalpana_Singh" target="_new" >Kalpana Singh</a><br>-->
<!-- <a href=http://cabgrid.res.in/cabin/maiquebal.aspx target="_new">Mir Asif Iquebal</a><br>-->
<!-- <a href=http://cabgrid.res.in/cabin/sarika.aspx target="_new">Sarika </a><br>-->
<!-- <a href=http://cabgrid.res.in/cabin/ubangadi.aspx target="_new">U B Angadi </a><br>-->
<!-- <a href=http://cabgrid.res.in/cabin/arai.aspx target="_new" >Anil Rai </a><br>-->
<!-- <a href=http://cabgrid.res.in/cabin/dkumar.aspx target="_new">Dinesh Kumar</a><br>-->
<!--</table>-->
 <table style="width:90%">

 <style>
 <style type="text/css">
 .g {
        color: #008040;
}
 .h {
	font-family: Verdana, Geneva, sans-serif;
	color: #FFFFE3;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
}
a:link {
        text-decoration: none;
}
a:visited {
        text-decoration: none;
}
a:hover {
        text-decoration: underline;
}
a:active {
        text-decoration: none;
}  body,td,th {
	font-family: Times New Roman, Times, serif;
	font-size: 18px;
	color: #000000;
}

.style29 {font-family: Verdana, Geneva, sans-serif}
.style32 {
	font-size: 12pt;
	font-family: Verdana, Geneva, sans-serif;
	color: #660000;
}
.style31 {font-family: Georgia, "Times New Roman", Times, serif; font-size: 14pt; line-height: 2px; color: #660000; font-weight: bold; }
.style33 {font-size: 12pt; font-family: Verdana, Geneva, sans-serif; color: #660000; font-weight: bold; }
.style34 {color: #660000}
.style35 {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #660033;
}
.style36 {font-size: 12pt; font-family: Georgia, "Times New Roman", Times, serif; color: #660033; }
.style37 {color: #660033; }

.tTable a:link {
  color: maroon;
  background-color: transparent;
  text-decoration: none;
}
.tTable a:hover {
  text-decoration:underline;
}
.tTable th {
background-color: #fffff;
text-align: center;
}

.tTable th, td {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}
</style>

  <tr>
    <th><a href="https://iasri.icar.gov.in/" target="_new"><font color="maroon">ICAR-IASRI, New Delhi</a><br></th>
    <th><a href="https://cirb.icar.gov.in/" target="_new"><font color="maroon">ICAR-CIRB, Hisar</a><br></th>
  </tr>
  <tr>
    <td> <a href="https://www.researchgate.net/profile/Aamir-Khan-127" target="_new"><font color="maroon">Aamir Khan</a></td>
    <td> <a href="https://cirb.icar.gov.in/varij-nayan/" target="_new"><font color="maroon">Varij Nayan</a></td>
  </tr>
  <tr>
    <td><a href="https://www.researchgate.net/profile/Kalpana_Singh" target="_new" ><font color="maroon">Kalpana Singh</a><br></td>
    <td><a href="https://cirb.icar.gov.in/dr-t-k-datta-1/" target="_new"><font color="maroon">T.K. Datta</a><br></td>
  </tr>
  <tr>
    <td> <a href="http://ccbb.jnu.ac.in/phd.html" target="_new"><font color="maroon">Ajay Verma</a><br></td>
  </tr>
     <tr>
    <td> <a href=http://cabgrid.res.in/cabin/maiquebal.aspx target="_new"><font color="maroon">Mir Asif Iquebal</a><br></td>
  </tr>
     <tr>
    <td> <a href=http://cabgrid.res.in/cabin/sarika.aspx target="_new"><font color="maroon">Sarika</a><br></td>
  </tr>
     <tr>
    <td> <a href=http://cabgrid.res.in/cabin/ubangadi.aspx target="_new"><font color="maroon">U B Angadi</a><br></td>
  </tr>
     <tr>
    <td> <a href=http://cabgrid.res.in/cabin/arai.aspx target="_new"><font color="maroon">Anil Rai</a><br></td>
  </tr>
     <tr>
    <td> <a href=http://cabgrid.res.in/cabin/dkumar.aspx target="_new"><font color="maroon">Dinesh Kumar</a><br></td>
  </tr>

</table>
</div>
{% endblock %}